DATABASE_URL="prisma+postgres://accelerate.prisma-data.net/?api_key=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqd3RfaWQiOjEsInNlY3VyZV9rZXkiOiJza184UWhOaXB5YzAwV0pKTEY2aVN0c0kiLCJhcGlfa2V5IjoiMDFLUzBBUVpRMkE5V1o0Q0pZQTVWUzdBQkMiLCJ0ZW5hbnRfaWQiOiI5ZGNjMmMwYzE3NjdiMWM5NzAzMGI4N2EzNGFhZmFmZDIyNGY1M2FiOWU0ZWM5YTA4MDg0ZGRkMjQzZjE3MGY1IiwiaW50ZXJuYWxfc2VjcmV0IjoiNzE5YmYzOTMtZGNkYy00MDA4LTk1MjItMThmYmI3YmQyODFiIn0.e5TkB46zYWPdY7A2JIw43ZwbCNwkMnHnaIRyR1HZtSg"
JWT_SECRET=secret123
CLOUDINARY_CLOUD_NAME= dhoqv5s67
CLOUDINARY_API_KEY=315433419661518
CLOUDINARY_API_SECRET=X_w1Erl5HPrQ5pODaBHI5E6URms
